<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Example - example-guide-concepts-1-production</title>
 
  <script src="../lib/angular.min.js"></script>
 
</head>
<body >
  <div ng-app>
    <div>
    <div ng-show="cost"><b>Cost of infosys share:</b>{{cost}}</div> 
  </div>
  <b>share Invoice:</b>
  <div>
    Quantity: <input type="number" min="0" ng-model="qty">
  </div>
  <div>
    Costs: <input type="number" min="0" ng-model="cost">
  </div>
  <div ng-show="cost">
    <b>Total:</b> {{qty * cost | currency}}
  </div>
<div>
  
</div>
</div>
</body>
</html>